@using Company.EntityLayer.Concrete
@model List<Slider>

@{ 
    int i = 0;
    string act = "active";
}
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                @foreach (var item in Model)
                {
                    <div class="carousel-item @act" style="background-image: url(@item.Image)">
                        <div class="carousel-container">
                            <div class="container">
                                <h2 class="animate__animated animate__fadeInDown">@item.Title </h2>
                                <p class="animate__animated animate__fadeInUp">@item.Contents</p>
                                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                            </div>
                        </div>
                    </div>
                    i++;
                    act = "";
                }
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section>
